.text-center {
    text-align: center;
}
.wrap-game {
    background-image: url('../img/bg.png');
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.healthbar {
    width: 80%;
    height: 20px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
}

.controls {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}
.log {
    width: 100%;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.log div {
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,.8);
    overflow: hidden;
}
.log ul {
    list-style: none;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin: 0;
    font-size: 15px;
    padding: 0;
}

.log ul li {
    margin: 5px;
}
.persons {
    position: absolute;
    bottom: 100px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.personImg {
    text-align: center;
}

.personImg img {
    width: 300px;
    height: auto;
    display: inline-block;
}

.runGame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.log ul .player-turn {
    color: #ffd907;
}

.log ul .monster-turn {
    color: #ff3907;
}

.keyPlay {
    position: absolute;
    bottom: 0;
    left: 0;
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#start-game {
    background-color: #aaffb0;
}

#start-game:hover {
    background-color: #76ff7e;
}

#attack {
    background-image: url(../img/sword.png);
    background-color: #ff7367;
    width: 60px;
    height: 60px;
    background-size: contain;
}

#attack:hover {
    background-color: #ff3f43;
}

#special-attack {
    background-image: url(../img/swords.png);
    background-color: #ffaf4f;
    width: 60px;
    height: 60px;
    background-size: contain;
}

#special-attack:hover {
    background-color: #ff9a2b;
}

#heal {
    background-image: url(../img/health.png);
    background-color: #aaffb0;
    width: 60px;
    height: 60px;
    background-size: contain;
}

#heal:hover {
    background-color: #76ff7e;
}

#give-up {
    background-image: url(../img/giveup.png);
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    background-size: contain;
}

#give-up:hover {
    background-color: #c7c7c7;
}
button#special-attack[disabled],button#heal[disabled]  {
    background: #ddd;
}